In [1]:
import pandas as pd

In [ ]:
unemployment_df = pd.read_csv(r'\python-applications\data_analysis\unemployment\unemployment_data\unemployment\output.csv')

In [5]:
unemployment_df

        Year     Month        State              County  Rate
0       2015  February  Mississippi       Newton County   6.1
1       2015  February  Mississippi       Panola County   9.4
2       2015  February  Mississippi       Monroe County   7.9
3       2015  February  Mississippi        Hinds County   6.1
4       2015  February  Mississippi       Kemper County  10.6
...      ...       ...          ...                 ...   ...
885543  2009  November        Maine     Somerset County  10.5
885544  2009  November        Maine       Oxford County  10.5
885545  2009  November        Maine         Knox County   7.5
885546  2009  November        Maine  Piscataquis County  11.3
885547  2009  November        Maine    Aroostook County   9.0

[885548 rows x 5 columns]