In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
unemployment_df = pd.read_csv(r'\python-applications\data_analysis\unemployment\unemployment_data\unemployment\output.csv')

In [6]:
unemployment_df.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6